@tailwind base;
@tailwind components;
@tailwind utilities;

.main-inner-left-shadow::before {
  content: '';
  position: absolute;
  inset: 0; /* Covers the entire main */
  right: auto; /* Remove shadow from the right side */
  width: 10px; /* Adjust width to control the shadow size */
  box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.05); /* Inner shadow on the left side */
  pointer-events: none; /* Prevent the pseudo-element from blocking clicks */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #C9C9C9 #f1f1f1; 
}